NET "movebtn[0]" LOC = P132;
NET "movebtn[0]" IOSTANDARD = LVTTL;
NET "movebtn[0]" PULLUP;
NET "movebtn[1]" LOC = P131;
NET "movebtn[1]" IOSTANDARD = LVTTL;
NET "movebtn[1]" PULLUP;
NET "movebtn[2]" LOC = P140;
NET "movebtn[2]" IOSTANDARD = LVTTL;
NET "movebtn[2]" PULLUP;
NET "movebtn[3]" LOC = P137;
NET "movebtn[3]" IOSTANDARD = LVTTL;
NET "movebtn[3]" PULLUP;
NET "movebtn[4]" LOC = P139;
NET "movebtn[4]" IOSTANDARD = LVTTL;
NET "movebtn[4]" PULLUP;
NET "movebtn[5]" LOC = P138;
NET "movebtn[5]" IOSTANDARD = LVTTL;
NET "movebtn[5]" PULLUP;
NET "startbtn" LOC = P134;
NET "startbtn" IOSTANDARD = LVTTL;
NET "startbtn" PULLUP;
NET "resetbtn" LOC = P133;
NET "resetbtn" IOSTANDARD = LVTTL;
NET "resetbtn" PULLUP;

NET "cube_level[0]" LOC = P2;
NET "cube_level[0]" IOSTANDARD = LVTTL;
NET "cube_level[1]" LOC = P1;
NET "cube_level[1]" IOSTANDARD = LVTTL;
NET "cube_level[2]" LOC = P144;
NET "cube_level[2]" IOSTANDARD = LVTTL;
NET "cube_level[3]" LOC = P143;
NET "cube_level[3]" IOSTANDARD = LVTTL;

NET "cube_col[0]" LOC = P24;
NET "cube_col[0]" IOSTANDARD = LVTTL;
NET "cube_col[1]" LOC = P23;
NET "cube_col[1]" IOSTANDARD = LVTTL;
NET "cube_col[2]" LOC = P22;
NET "cube_col[2]" IOSTANDARD = LVTTL;
NET "cube_col[3]" LOC = P21;
NET "cube_col[3]" IOSTANDARD = LVTTL;

NET "cube_col[4]" LOC = P17;
NET "cube_col[4]" IOSTANDARD = LVTTL;
NET "cube_col[5]" LOC = P16;
NET "cube_col[5]" IOSTANDARD = LVTTL;
NET "cube_col[6]" LOC = P15;
NET "cube_col[6]" IOSTANDARD = LVTTL;
NET "cube_col[7]" LOC = P14;
NET "cube_col[7]" IOSTANDARD = LVTTL;

NET "cube_col[8]" LOC = P12;
NET "cube_col[8]" IOSTANDARD = LVTTL;
NET "cube_col[9]" LOC = P11;
NET "cube_col[9]" IOSTANDARD = LVTTL;
NET "cube_col[10]" LOC = P10;
NET "cube_col[10]" IOSTANDARD = LVTTL;
NET "cube_col[11]" LOC = P9;
NET "cube_col[11]" IOSTANDARD = LVTTL;

NET "cube_col[12]" LOC = P8;
NET "cube_col[12]" IOSTANDARD = LVTTL;
NET "cube_col[13]" LOC = P7;
NET "cube_col[13]" IOSTANDARD = LVTTL;
NET "cube_col[14]" LOC = P6;
NET "cube_col[14]" IOSTANDARD = LVTTL;
NET "cube_col[15]" LOC = P5;
NET "cube_col[15]" IOSTANDARD = LVTTL;

NET "segment_part[0]" LOC = P95;
NET "segment_part[0]" IOSTANDARD = LVTTL;
NET "segment_part[1]" LOC = P94;
NET "segment_part[1]" IOSTANDARD = LVTTL;
NET "segment_part[2]" LOC = P98;
NET "segment_part[2]" IOSTANDARD = LVTTL;
NET "segment_part[3]" LOC = P97;
NET "segment_part[3]" IOSTANDARD = LVTTL;
NET "segment_part[4]" LOC = P100;
NET "segment_part[4]" IOSTANDARD = LVTTL;
NET "segment_part[5]" LOC = P99;
NET "segment_part[5]" IOSTANDARD = LVTTL;
NET "segment_part[6]" LOC = P102;
NET "segment_part[6]" IOSTANDARD = LVTTL;

NET "segment_LED[0]" LOC = P105;
NET "segment_LED[0]" IOSTANDARD = LVTTL;
NET "segment_LED[1]" LOC = P104;
NET "segment_LED[1]" IOSTANDARD = LVTTL;
NET "segment_LED[2]" LOC = P111;
NET "segment_LED[2]" IOSTANDARD = LVTTL;
NET "segment_LED[3]" LOC = P112;
NET "segment_LED[3]" IOSTANDARD = LVTTL;
